In [41]:
import pandas as pd

In [42]:
data = pd.read_csv(r'data/raw_dataset.csv')
data

               Name  Category
0          Acroyoga   general
1            Acting   general
2       Aerial silk   general
3       Airbrushing   general
4     Amateur radio   general
..              ...       ...
316       Sociology  academic
317  Sports science  academic
318    Life Science  academic
319        Teaching  academic
320             NaN  academic

[321 rows x 2 columns]

In [79]:
new_data = data.sample(frac = 1)
new_data.head()

            Name  Category
222  Woodworking   general
276      fishing    sports
293      kung fu    sports
308     Mycology  academic
250       tennis    sports

In [80]:
compression_opts = dict(method='zip',
                        archive_name='dataset.csv')  
data.to_csv('final_data.zip', index=False,
          compression=compression_opts)